.Configuration {
  // max-width: 800px;
  // margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #182952;
  color: white;

  transition: linear .2s all;

  &.hidden {
    opacity: 0;
  }
}
